.comment {
    display: flex;
    flex-wrap: wrap;
}

.comment-username {
    font-weight: bold;
    margin-right: 7px;
}

.comment-form {
    padding-left: 3%;
    margin-top: -10px;
    margin-bottom: 10px;
}

.comment-input {
    height: 50px;
    border: none;
}